.dialogs {

    display: grid;
    grid-template-columns: 2fr 10fr;


}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: gold;
}

.dialogsItems .dialog {

}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.messageItem{
    height: 1000px;
    overflow: auto;
    margin-bottom: 20px;
}


.sendMessageForm{
    /*margin-top: 10px;*/
    display: flex;
    /*width: 500px;*/
    justify-content: space-between;
}